nav {
    background-color: cornflowerblue;
}
nav li {
    list-style: none;
    float: left;
    margin: 20px 10px 20px 10px;
    padding: 5px;
    border: 2px solid pink;
    color: rgb(25, 82, 82);
}